<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konnac.mapper.ProjectsMemberMapper">

<!--判断项目是否已经存在该成员-->
    <select id="isMemberExist" resultType="boolean">
        select count(*) > 0
        from project_members
        where project_id = #{projectId}
        and user_id = #{userId}
    </select>
<!--新增项目成员-->
    <insert id="addProjectMember">
        insert into project_members (project_id, user_id, project_role, join_by, status)
        values (#{projectId}, #{userId}, #{projectRole}, #{joinBy}, #{status})
    </insert>
<!--根据项目id和用户id获取项目内成员-->
    <select id="getMemberByProjectIdAndUserId" resultType="com.konnac.pojo.ProjectMember">
        select *
        from project_members
        where project_id = #{projectId}
        and user_id = #{userId}
    </select>
<!--软删除项目成员-->
    <update id="updateProjectMember">
        UPDATE project_member
        <set>
            <if test="projectRole != null and projectRole != ''">
                project_role = #{projectRole},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="joinBy != null">
                join_by = #{joinBy},
            </if>
            <if test="joinDate != null">
                join_date = #{joinDate},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>




</mapper>