<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konnac.mapper.ProjectsMemberMapper">

<!--判断项目是否已经存在该成员-->
    <select id="isMemberExist" resultType="boolean">
        select count(*) > 0
        from project_members
        where project_id = #{projectId}
        and user_id = #{userId}
    </select>
<!--新增项目成员-->
    <insert id="addProjectMember">
        insert into project_members (project_id, user_id, project_role, join_by, status)
        values (#{projectId}, #{userId}, #{projectRole}, #{joinBy}, #{status})
    </insert>
<!--根据项目id和用户id获取项目内成员-->
    <select id="getMemberByProjectIdAndUserId" resultType="com.konnac.pojo.ProjectMember">
        select *
        from project_members
        where project_id = #{projectId}
        and user_id = #{userId}
    </select>
<!--软删除项目成员-->
    <update id="updateProjectMember">
        UPDATE project_member
        <set>
            <if test="projectRole != null and projectRole != ''">
                project_role = #{projectRole},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="joinBy != null">
                join_by = #{joinBy},
            </if>
            <if test="joinDate != null">
                join_date = #{joinDate},
            </if>
            <if test="updatedTime != null">
                updated_time = #{updatedTime}
            </if>
        </set>
        WHERE id = #{id}
    </update>
<!--获取成员列表-->
    <select id="findActiveByProjectId" resultType="com.konnac.pojo.ProjectMember">
        select *
        from project_members
        where project_id = #{projectId}
        and status = 'ACTIVE'
    </select>
<!--分页查询-->
    <select id="list" resultType="com.konnac.pojo.ProjectMember">
# Integer projectId, String name, String realName, String userRole, String department
        select *
        from project_members
        <where>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="name != null and name != ''">
                and username like concat('%', #{name}, '%')
            </if>
            <if test="realName != null and realName != ''">
                and real_name like concat('%', #{realName}, '%')
            </if>
            <if test="userRole != null and userRole != ''">
                and user_role like concat('%', #{userRole}, '%')
            </if>
            <if test="department != null and department != ''">
                and department like concat('%', #{department}, '%')
            </if>
            Order by id desc
        </where>


    </select>
<!--根据id获取成员-->
    <select id="findByUserId" resultType="com.konnac.pojo.ProjectMember">
        select *
        from project_members
        where user_id = #{userId}
    </select>
<!--根据项目id获取项目成员id列表-->
    <select id="getProjectMembersIds" resultType="java.lang.Integer">
        select user_id
        from project_members
        where project_id = #{projectId}
        and status = 'ACTIVE'
    </select>


</mapper>