<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.konnac.mapper.TasksMapper">

    <sql id="commonSelect">
        select id, project_id, title, description, assignee_id, estimated_hours,
               actual_hours, deadline, status, created_time, update_time
        from tasks
    </sql>
<!--新增任务-->
    <insert id="addTask" useGeneratedKeys="true" keyProperty="id">
        insert into tasks(project_id, title, description, assignee_id, estimated_hours,
                          actual_hours, deadline, status, created_time, update_time)
        VALUES (#{projectId}, #{title}, #{description}, #{assigneeId}, #{estimatedHours},
                #{actualHours}, #{deadline}, #{status}, #{createdTime}, #{updateTime})
    </insert>
<!--批量删除-->
    <delete id="deleteTask">
        delete from tasks where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
<!--修改任务信息-->
    <update id="updateTask">
        UPDATE tasks
        <set>
            <if test="projectId != null">
            project_id = #{projectId},
             </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="assigneeId != null">
                assignee_id = #{assigneeId},
            </if>
            <if test="estimatedHours != null">
                estimated_hours = #{estimatedHours},
            </if>
            <if test="actualHours != null">
                actual_hours = #{actualHours},
            </if>
            <if test="deadline != null">
                deadline = #{deadline},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>
<!--查询未完成的任务树-->
    <select id="getUncompletedTaskCountByProjectIdAndUserId" resultType="int">
        select count(*)
        from tasks
        where project_id = #{projectId}
          and assignee_id = #{userId}
          and status != 'completed'
    </select>
<!--查询用户在项目中的任务统计信息-->
    <select id="getUserTaskStatsInProject" resultType="com.konnac.pojo.TaskStats">

        select (select count(*) from tasks
                where project_id = #{projectId}
                  and assignee_id = #{userId})
                    as total_tasks,
                (select count(*) from tasks
                where project_id = #{projectId}
                  and assignee_id = #{userId}
                  and status = 'NOT_STARTED')
                    as not_started_tasks,
               (select count(*)
                from tasks
                where project_id = #{projectId}
                  and assignee_id = #{userId}
                  and status = 'IN_PROGRESS')
                   as in_progress_tasks,
               (select count(*)
                from tasks
                where project_id = #{projectId}
                  and assignee_id = #{userId}
                  and status = 'COMPLETED')
                   as completed_tasks,
               (select count(*)
                from tasks
                where project_id = #{projectId}
                  and assignee_id = #{userId}
                  and status = 'PENDING_REVIEW')
                   as pending_review_tasks,
               (select sum(actual_hours)
               from tasks
               where project_id = #{projectId}
                 and assignee_id = #{userId})
                 as total_hours
    </select>
<!--根据任务id获取任务成员id列表-->
    <select id="getTaskMembersId" resultType="int">
        select assignee_id
        from tasks
        where project_id = #{projectId}
          and id = #{taskId}
          and status = 'ACTIVE'
    </select>
<!--分页查询-->
    <select id="list" resultType="com.konnac.pojo.Task">
        <include refid="commonSelect"></include>
        <where>
            <if test="projectId != null">
                and project_id = #{projectId}
            </if>
            <if test="Id != null">
                and id = #{Id}
            </if>
            <if test="title != null and title.trim() != ''">
                and title like concat('%', #{title}, '%')
            </if>
            <if test="assigneeName != null and assigneeName.trim() != ''">
                and assignee_name like concat('%', #{assigneeName}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <choose>
                <when test="begin != null and end != null">
                    AND DATE(created_at) BETWEEN #{begin} AND #{end}
                </when>
                <when test="begin != null">
                    AND DATE(created_at) >= #{begin}
                </when>
                <when test="end != null">
                    AND #{end} >= DATE(created_at)
                </when>
            </choose>
        </where>
        ORDER BY created_at DESC
    </select>
<!--查询一个项目中未完成的任务数-->
    <select id="getUncompletedTaskCountByProjectId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tasks
        WHERE project_id = #{projectId}
          AND status IN ('NOT_STARTED',
                         'IN_PROGRESS',
                         'PENDING_REVIEW')
    </select>
</mapper>